*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#04010b;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
color:white;
}

.app{
width:390px;
height:844px;
border-radius:40px;
overflow:hidden;
position:relative;
background:
radial-gradient(circle at top,#2d0066,#05010d 60%);
border:2px solid #7a00ff;
box-shadow:
0 0 50px #7a00ff55,
inset 0 0 50px #7a00ff22;
}

.topbar{
height:50px;
padding:0 20px;
display:flex;
justify-content:space-between;
align-items:center;
font-size:14px;
}

.top-right{
display:flex;
gap:10px;
}

.content{
height:700px;
overflow-y:auto;
padding:10px 15px 120px;
}

.content::-webkit-scrollbar{
width:0;
}

.panel{
display:none;
animation:fade .35s;
}

.panel.active{
display:block;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(10px);
}
to{
opacity:1;
transform:translateY(0);
}
}

.page-title{
text-align:center;
font-size:36px;
margin-bottom:15px;
letter-spacing:2px;
}

.sub-title{
text-align:center;
font-size:30px;
font-weight:bold;
margin-bottom:25px;
}

.sub-title span{
display:block;
font-size:14px;
color:#c026ff;
margin-top:6px;
}

.hero{
position:relative;
background:#12051d;
border-radius:30px;
overflow:hidden;
padding-bottom:20px;
margin-bottom:20px;
border:1px solid #ffffff11;
}

.hero-glow{
position:absolute;
inset:0;
background:
radial-gradient(circle,#9d00ff55,transparent 60%);
}

.hero-img{
width:100%;
height:320px;
object-fit:cover;
}

.hero-content{
padding:20px;
text-align:center;
}

.hero-content h1{
font-size:48px;
text-shadow:0 0 20px #9d00ff;
}

.hero-content h3{
font-size:28px;
color:#c026ff;
margin-bottom:10px;
}

.hero-content p{
color:#bbb;
line-height:1.5;
}

.stats-grid{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:12px;
margin-bottom:20px;
}

.stats-card{
background:#12051d;
border-radius:20px;
padding:18px;
text-align:center;
border:1px solid #ffffff11;
}

.stats-card i{
font-size:24px;
color:#c026ff;
margin-bottom:10px;
}

.main-btn{
width:100%;
height:60px;
border:none;
border-radius:20px;
background:linear-gradient(90deg,#6a00ff,#c026ff);
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
box-shadow:0 0 25px #9d00ff88;
}

.toggle-box{
display:flex;
flex-direction:column;
gap:15px;
}

.toggle-card{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px;
background:#12051d;
border-radius:22px;
border:1px solid #ffffff11;
}

.left{
display:flex;
gap:15px;
align-items:center;
}

.left p{
font-size:13px;
color:#aaa;
}

.icon{
width:50px;
height:50px;
border-radius:15px;
display:flex;
justify-content:center;
align-items:center;
font-size:20px;
}

.neon{
background:#9d00ff22;
color:#c026ff;
}

.pink{
background:#ff00cc22;
color:#ff00cc;
}

.blue{
background:#0099ff22;
color:#00bfff;
}

.green{
background:#00ff8822;
color:#00ff88;
}

.switch{
position:relative;
width:55px;
height:30px;
}

.switch input{
display:none;
}

.slider{
position:absolute;
inset:0;
background:#222;
border-radius:30px;
transition:.3s;
}

.slider::before{
content:'';
position:absolute;
width:24px;
height:24px;
left:3px;
top:3px;
background:white;
border-radius:50%;
transition:.3s;
}

input:checked + .slider{
background:#a000ff;
box-shadow:0 0 15px #a000ff;
}

input:checked + .slider::before{
transform:translateX(25px);
}

.boost-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:20px;
}

.boost-card{
background:#12051d;
border-radius:22px;
padding:25px 15px;
text-align:center;
border:1px solid #ffffff11;
}

.boost-card i{
font-size:28px;
margin-bottom:15px;
color:#c026ff;
}

.live-card{
background:#12051d;
border-radius:25px;
padding:20px;
border:1px solid #ffffff11;
}

.live-top{
display:flex;
justify-content:space-between;
align-items:center;
}

.live-badge{
padding:10px 15px;
border-radius:12px;
background:#c026ff;
font-weight:bold;
}

.chart{
height:220px;
margin-top:20px;
border-radius:20px;
position:relative;
overflow:hidden;
background:#090011;
}

.grid{
position:absolute;
inset:0;
background-image:
linear-gradient(#ffffff10 1px,transparent 1px),
linear-gradient(90deg,#ffffff10 1px,transparent 1px);
background-size:40px 40px;
}

.line{
position:absolute;
width:200%;
height:3px;
background:#c026ff;
top:50%;
left:-50%;
box-shadow:0 0 20px #c026ff;
animation:wave 5s linear infinite;
}

@keyframes wave{
from{
transform:translateX(-20%);
}
to{
transform:translateX(0%);
}
}

.console{
margin-top:20px;
background:black;
height:200px;
overflow:auto;
padding:15px;
border-radius:20px;
font-size:13px;
line-height:1.8;
color:#00ff66;
}

.settings-list{
display:flex;
flex-direction:column;
gap:15px;
}

.setting-card{
display:flex;
align-items:center;
gap:15px;
padding:20px;
background:#12051d;
border-radius:20px;
border:1px solid #ffffff11;
}

.setting-card i:last-child{
margin-left:auto;
}

.logout{
color:#ff4444;
}

.tabbar{
position:absolute;
bottom:0;
width:100%;
height:95px;
background:#090011;
border-top:1px solid #ffffff11;
display:flex;
justify-content:space-around;
align-items:center;
}

.tab{
display:flex;
flex-direction:column;
align-items:center;
gap:5px;
font-size:11px;
color:#777;
cursor:pointer;
transition:.3s;
}

.tab i{
font-size:22px;
}

.tab.active{
color:#c026ff;
transform:translateY(-5px);
text-shadow:0 0 15px #c026ff;
}
/* RANGE */

.slider-box{
display:flex;
flex-direction:column;
gap:18px;
}

.slider-item{
background:#12051d;
padding:18px;
border-radius:20px;
border:1px solid #ffffff11;
}

.slider-top{
display:flex;
justify-content:space-between;
margin-bottom:15px;
}

.range{
width:100%;
height:8px;
appearance:none;
background:#2b0b44;
border-radius:20px;
overflow:hidden;
}

.range::-webkit-slider-thumb{
appearance:none;
width:18px;
height:18px;
border-radius:50%;
background:#c026ff;
box-shadow:0 0 15px #c026ff;
cursor:pointer;
}

/* LIVE */

.live-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:20px;
}

.mini-card{
background:#12051d;
border-radius:20px;
padding:20px;
text-align:center;
border:1px solid #ffffff11;
}

.mini-card i{
font-size:24px;
margin-bottom:10px;
color:#c026ff;
}

.mini-card p{
font-size:22px;
font-weight:bold;
}

/* ICON COLORS */

.orange{
background:#ff880022;
color:#ff9900;
}

.red{
background:#ff003322;
color:#ff3355;
}

.cyan{
background:#00ffff22;
color:#00ffff;
}

/* SETTINGS */

.settings-list{
display:flex;
flex-direction:column;
gap:15px;
}
/* GLASS EFFECT */

.hero-card,
.stats-card,
.main-card,
.toggle-card,
.slider-item,
.live-card,
.mini-card,
.setting-card{
backdrop-filter:blur(12px);
background:rgba(18,5,29,.85);
box-shadow:
0 0 20px #00000055,
inset 0 0 20px #ffffff05;
transition:.35s;
}

/* HOVER */

.toggle-card:hover,
.stats-card:hover,
.slider-item:hover,
.setting-card:hover,
.mini-card:hover{
transform:translateY(-4px) scale(1.01);
border-color:#c026ff55;
box-shadow:
0 0 25px #a000ff55,
inset 0 0 20px #ffffff08;
}

/* TABBAR VIP */

.tabbar{
backdrop-filter:blur(20px);
background:rgba(5,0,15,.85);
box-shadow:
0 -10px 40px #00000088;
}

/* ACTIVE TAB */

.tab.active{
color:#fff;
}

.tab.active i{
background:linear-gradient(135deg,#7a00ff,#ff00d4);
width:55px;
height:55px;
display:flex;
justify-content:center;
align-items:center;
border-radius:18px;
box-shadow:
0 0 25px #a000ff,
0 0 40px #ff00ff55;
}

/* BUTTON VIP */

.main-btn{
position:relative;
overflow:hidden;
}

.main-btn::before{
content:'';
position:absolute;
width:120px;
height:250%;
background:#ffffff33;
transform:rotate(30deg);
left:-150px;
top:-80px;
transition:1s;
}

.main-btn:hover::before{
left:120%;
}

/* HERO IMAGE EFFECT */

.hero-img{
transition:1s;
filter:saturate(1.2) contrast(1.05);
}

.hero-card:hover .hero-img{
transform:scale(1.05);
}

/* PAGE TITLE */

.page-title{
background:linear-gradient(90deg,#ffffff,#c026ff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
text-shadow:0 0 20px #c026ff55;
}

/* LIVE CHART */

.chart-line{
height:4px;
border-radius:20px;
background:
linear-gradient(
90deg,
#00ffff,
#c026ff,
#ff00cc
);
animation:wave 3s linear infinite;
}

/* CONSOLE */

.console{
border:1px solid #00ff6655;
box-shadow:
0 0 20px #00ff2222,
inset 0 0 20px #00ff2211;
}

/* PARTICLES */

.app::before{
content:'';
position:absolute;
inset:0;
background-image:
radial-gradient(#ffffff22 1px,transparent 1px);
background-size:25px 25px;
opacity:.2;
pointer-events:none;
animation:moveBg 30s linear infinite;
}

@keyframes moveBg{
from{
transform:translateY(0);
}
to{
transform:translateY(200px);
}
}

/* NEON BORDER */

.app::after{
content:'';
position:absolute;
inset:0;
border-radius:40px;
padding:2px;
background:
linear-gradient(
135deg,
#7a00ff,
#00ffff,
#ff00d4
);
-webkit-mask:
linear-gradient(#fff 0 0) content-box,
linear-gradient(#fff 0 0);
-webkit-mask-composite:xor;
pointer-events:none;
}

/* RANGE GLOW */

.range::-webkit-slider-thumb{
border:3px solid white;
}

/* LIVE STATUS ANIMATION */

.mini-card p{
animation:pulse 2s infinite;
}

@keyframes pulse{
0%{
transform:scale(1);
}
50%{
transform:scale(1.08);
}
100%{
transform:scale(1);
}
}

/* SETTINGS ICON */

.setting-card i:first-child{
width:45px;
height:45px;
display:flex;
justify-content:center;
align-items:center;
border-radius:14px;
background:#ffffff10;
color:#c026ff;
font-size:18px;
}

/* SCROLL SMOOTH */

html{
scroll-behavior:smooth;
}

/* MOBILE EFFECT */

body{
background:
radial-gradient(circle at top,#5d00ff,#05010d 60%);
}
/* SWITCH GLOW */

input:checked + .slider{
background:
linear-gradient(
90deg,
#7a00ff,
#ff00d4
);
box-shadow:
0 0 20px #c026ff,
0 0 40px #ff00ff55;
}

/* TOGGLE ANIMATION */

.slider::before{
box-shadow:
0 0 10px #ffffff88;
}
/* SWITCH GLOW */

input:checked + .slider{
background:
linear-gradient(
90deg,
#7a00ff,
#ff00d4
);
box-shadow:
0 0 20px #c026ff,
0 0 40px #ff00ff55;
}

/* TOGGLE ANIMATION */

.slider::before{
box-shadow:
0 0 10px #ffffff88;
}